body {
    background-color: #EAF6F6;
}
h1 {
    color: #43d8c9;
}
h3 {
    color: #43d8c9;
}
h4 {
    color: black;
}
h5 {
    color: darkslategrey;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
img {
    height: 150px;
    width: 150px;
}
